html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #bbe3e3;
}

.wrapper {
  position: relative;
  width: 50vw;
  height: 50vw;
  max-width: 100vh;
  max-height: 100vh;
}

.pl {
  width: 100%;
  height: 100%;
  position: absolute;
}

.pl:hover {
  opacity: 0.5;
}

.castShadow {
  height: 40px;
  width: 320px;
  background-color: black;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  border-radius: 50%;
  opacity: 0.45;
  -webkit-animation: animateShadow 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: animateShadow 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(1) {
  -webkit-animation: transform1 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform1 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(2) {
  -webkit-animation: transform2 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform2 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(3) {
  -webkit-animation: transform3 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform3 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(4) {
  -webkit-animation: transform4 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform4 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(5) {
  -webkit-animation: transform5 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform5 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(6) {
  -webkit-animation: transform6 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform6 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(7) {
  -webkit-animation: transform7 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform7 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(8) {
  -webkit-animation: transform8 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform8 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(9) {
  -webkit-animation: transform9 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform9 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(10) {
  -webkit-animation: transform10 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform10 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(11) {
  -webkit-animation: transform11 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform11 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(12) {
  -webkit-animation: transform12 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform12 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(13) {
  -webkit-animation: transform13 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform13 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(14) {
  -webkit-animation: transform14 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform14 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(15) {
  -webkit-animation: transform15 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform15 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(16) {
  -webkit-animation: transform16 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform16 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(17) {
  -webkit-animation: transform17 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform17 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(18) {
  -webkit-animation: transform18 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform18 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(19) {
  -webkit-animation: transform19 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform19 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

.wrapper .pl:nth-child(20) {
  -webkit-animation: transform20 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
          animation: transform20 3s infinite alternate cubic-bezier(0.93, 0, 0.27, 1);
}

@-webkit-keyframes transform1 {
  from {
    -webkit-clip-path: polygon(33.862% 16.402%, 27.513% 21.693%, 26.455% 12.698%);
            clip-path: polygon(33.862% 16.402%, 27.513% 21.693%, 26.455% 12.698%);
    background-color: #a93f32;
  }
  to {
    -webkit-clip-path: polygon(41.267% 13.87%, 44.692% 25.685%, 40.411% 31.507%);
            clip-path: polygon(41.267% 13.87%, 44.692% 25.685%, 40.411% 31.507%);
    background-color: #787681;
  }
}

@keyframes transform1 {
  from {
    -webkit-clip-path: polygon(33.862% 16.402%, 27.513% 21.693%, 26.455% 12.698%);
            clip-path: polygon(33.862% 16.402%, 27.513% 21.693%, 26.455% 12.698%);
    background-color: #a93f32;
  }
  to {
    -webkit-clip-path: polygon(41.267% 13.87%, 44.692% 25.685%, 40.411% 31.507%);
            clip-path: polygon(41.267% 13.87%, 44.692% 25.685%, 40.411% 31.507%);
    background-color: #787681;
  }
}

@-webkit-keyframes transform2 {
  from {
    -webkit-clip-path: polygon(26.455% 12.698%, 15.873% 29.63%, 29.042% 35.921%);
            clip-path: polygon(26.455% 12.698%, 15.873% 29.63%, 29.042% 35.921%);
    background-color: #d76644;
  }
  to {
    -webkit-clip-path: polygon(41.267% 13.87%, 44.692% 25.685%, 52.397% 25.685%);
            clip-path: polygon(41.267% 13.87%, 44.692% 25.685%, 52.397% 25.685%);
    background-color: #b7b6be;
  }
}

@keyframes transform2 {
  from {
    -webkit-clip-path: polygon(26.455% 12.698%, 15.873% 29.63%, 29.042% 35.921%);
            clip-path: polygon(26.455% 12.698%, 15.873% 29.63%, 29.042% 35.921%);
    background-color: #d76644;
  }
  to {
    -webkit-clip-path: polygon(41.267% 13.87%, 44.692% 25.685%, 52.397% 25.685%);
            clip-path: polygon(41.267% 13.87%, 44.692% 25.685%, 52.397% 25.685%);
    background-color: #b7b6be;
  }
}

@-webkit-keyframes transform3 {
  from {
    -webkit-clip-path: polygon(15.873% 29.63%, 14.212% 40.411%, 31.5% 36.815%);
            clip-path: polygon(15.873% 29.63%, 14.212% 40.411%, 31.5% 36.815%);
    background-color: #d76644;
  }
  to {
    -webkit-clip-path: polygon(35.274% 38.356%, 44.692% 25.685%, 56.678% 50.685%);
            clip-path: polygon(35.274% 38.356%, 44.692% 25.685%, 56.678% 50.685%);
    background-color: #eee7e7;
  }
}

@keyframes transform3 {
  from {
    -webkit-clip-path: polygon(15.873% 29.63%, 14.212% 40.411%, 31.5% 36.815%);
            clip-path: polygon(15.873% 29.63%, 14.212% 40.411%, 31.5% 36.815%);
    background-color: #d76644;
  }
  to {
    -webkit-clip-path: polygon(35.274% 38.356%, 44.692% 25.685%, 56.678% 50.685%);
            clip-path: polygon(35.274% 38.356%, 44.692% 25.685%, 56.678% 50.685%);
    background-color: #eee7e7;
  }
}

@-webkit-keyframes transform4 {
  from {
    -webkit-clip-path: polygon(14.212% 40.411%, 21.164% 46.032%, 38.095% 35.45%);
            clip-path: polygon(14.212% 40.411%, 21.164% 46.032%, 38.095% 35.45%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(44.692% 25.685%, 56.678% 50.685%, 68.322% 25.685%);
            clip-path: polygon(44.692% 25.685%, 56.678% 50.685%, 68.322% 25.685%);
    background-color: #b7b6be;
  }
}

@keyframes transform4 {
  from {
    -webkit-clip-path: polygon(14.212% 40.411%, 21.164% 46.032%, 38.095% 35.45%);
            clip-path: polygon(14.212% 40.411%, 21.164% 46.032%, 38.095% 35.45%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(44.692% 25.685%, 56.678% 50.685%, 68.322% 25.685%);
            clip-path: polygon(44.692% 25.685%, 56.678% 50.685%, 68.322% 25.685%);
    background-color: #b7b6be;
  }
}

@-webkit-keyframes transform5 {
  from {
    -webkit-clip-path: polygon(38.095% 35.45%, 11.64% 51.323%, 41.27% 59.259%);
            clip-path: polygon(38.095% 35.45%, 11.64% 51.323%, 41.27% 59.259%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(68.322% 25.685%, 56.678% 50.685%, 77.911% 38.356%);
            clip-path: polygon(68.322% 25.685%, 56.678% 50.685%, 77.911% 38.356%);
    background-color: #eee7e7;
  }
}

@keyframes transform5 {
  from {
    -webkit-clip-path: polygon(38.095% 35.45%, 11.64% 51.323%, 41.27% 59.259%);
            clip-path: polygon(38.095% 35.45%, 11.64% 51.323%, 41.27% 59.259%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(68.322% 25.685%, 56.678% 50.685%, 77.911% 38.356%);
            clip-path: polygon(68.322% 25.685%, 56.678% 50.685%, 77.911% 38.356%);
    background-color: #eee7e7;
  }
}

@-webkit-keyframes transform6 {
  from {
    -webkit-clip-path: polygon(11.64% 51.323%, 38.356% 82.534%, 41.27% 59.259%);
            clip-path: polygon(11.64% 51.323%, 38.356% 82.534%, 41.27% 59.259%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(71.404% 13.87%, 59.932% 25.685%, 68.322% 25.685%);
            clip-path: polygon(71.404% 13.87%, 59.932% 25.685%, 68.322% 25.685%);
    background-color: #b7b6be;
  }
}

@keyframes transform6 {
  from {
    -webkit-clip-path: polygon(11.64% 51.323%, 38.356% 82.534%, 41.27% 59.259%);
            clip-path: polygon(11.64% 51.323%, 38.356% 82.534%, 41.27% 59.259%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(71.404% 13.87%, 59.932% 25.685%, 68.322% 25.685%);
            clip-path: polygon(71.404% 13.87%, 59.932% 25.685%, 68.322% 25.685%);
    background-color: #b7b6be;
  }
}

@-webkit-keyframes transform7 {
  from {
    -webkit-clip-path: polygon(11.64% 51.323%, 19.349% 83.048%, 28.596% 71%);
            clip-path: polygon(11.64% 51.323%, 19.349% 83.048%, 28.596% 71%);
    background-color: #a93f32;
  }
  to {
    -webkit-clip-path: polygon(71.404% 13.87%, 68.322% 25.685%, 72.603% 31.164%);
            clip-path: polygon(71.404% 13.87%, 68.322% 25.685%, 72.603% 31.164%);
    background-color: #787681;
  }
}

@keyframes transform7 {
  from {
    -webkit-clip-path: polygon(11.64% 51.323%, 19.349% 83.048%, 28.596% 71%);
            clip-path: polygon(11.64% 51.323%, 19.349% 83.048%, 28.596% 71%);
    background-color: #a93f32;
  }
  to {
    -webkit-clip-path: polygon(71.404% 13.87%, 68.322% 25.685%, 72.603% 31.164%);
            clip-path: polygon(71.404% 13.87%, 68.322% 25.685%, 72.603% 31.164%);
    background-color: #787681;
  }
}

@-webkit-keyframes transform8 {
  from {
    -webkit-clip-path: polygon(41.27% 59.259%, 38.356% 82.534%, 62.842% 83.39%);
            clip-path: polygon(41.27% 59.259%, 38.356% 82.534%, 62.842% 83.39%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(42.466% 42.5%, 48.288% 87.329%, 56.678% 50.685%);
            clip-path: polygon(42.466% 42.5%, 48.288% 87.329%, 56.678% 50.685%);
    background-color: #c8c6d3;
  }
}

@keyframes transform8 {
  from {
    -webkit-clip-path: polygon(41.27% 59.259%, 38.356% 82.534%, 62.842% 83.39%);
            clip-path: polygon(41.27% 59.259%, 38.356% 82.534%, 62.842% 83.39%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(42.466% 42.5%, 48.288% 87.329%, 56.678% 50.685%);
            clip-path: polygon(42.466% 42.5%, 48.288% 87.329%, 56.678% 50.685%);
    background-color: #c8c6d3;
  }
}

@-webkit-keyframes transform9 {
  from {
    -webkit-clip-path: polygon(62.842% 83.39%, 59.589% 59.589%, 41.27% 59.259%);
            clip-path: polygon(62.842% 83.39%, 59.589% 59.589%, 41.27% 59.259%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(56.678% 50.685%, 56.66% 83.904%, 48.288% 87.329%);
            clip-path: polygon(56.678% 50.685%, 56.66% 83.904%, 48.288% 87.329%);
    background-color: #c8c6d3;
  }
}

@keyframes transform9 {
  from {
    -webkit-clip-path: polygon(62.842% 83.39%, 59.589% 59.589%, 41.27% 59.259%);
            clip-path: polygon(62.842% 83.39%, 59.589% 59.589%, 41.27% 59.259%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(56.678% 50.685%, 56.66% 83.904%, 48.288% 87.329%);
            clip-path: polygon(56.678% 50.685%, 56.66% 83.904%, 48.288% 87.329%);
    background-color: #c8c6d3;
  }
}

@-webkit-keyframes transform10 {
  from {
    -webkit-clip-path: polygon(41.27% 59.259%, 38.095% 35.45%, 59.589% 59.589%);
            clip-path: polygon(41.27% 59.259%, 38.095% 35.45%, 59.589% 59.589%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(56.66% 83.904%, 56.678% 50.685%, 64.555% 87.158%);
            clip-path: polygon(56.66% 83.904%, 56.678% 50.685%, 64.555% 87.158%);
    background-color: #c8c6d3;
  }
}

@keyframes transform10 {
  from {
    -webkit-clip-path: polygon(41.27% 59.259%, 38.095% 35.45%, 59.589% 59.589%);
            clip-path: polygon(41.27% 59.259%, 38.095% 35.45%, 59.589% 59.589%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(56.66% 83.904%, 56.678% 50.685%, 64.555% 87.158%);
            clip-path: polygon(56.66% 83.904%, 56.678% 50.685%, 64.555% 87.158%);
    background-color: #c8c6d3;
  }
}

@-webkit-keyframes transform11 {
  from {
    -webkit-clip-path: polygon(63.243% 35.243%, 59.589% 59.589%, 38.095% 35.45%);
            clip-path: polygon(63.243% 35.243%, 59.589% 59.589%, 38.095% 35.45%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(71.377% 42.123%, 64.555% 87.158%, 56.678% 50.685%);
            clip-path: polygon(71.377% 42.123%, 64.555% 87.158%, 56.678% 50.685%);
    background-color: #c8c6d3;
  }
}

@keyframes transform11 {
  from {
    -webkit-clip-path: polygon(63.243% 35.243%, 59.589% 59.589%, 38.095% 35.45%);
            clip-path: polygon(63.243% 35.243%, 59.589% 59.589%, 38.095% 35.45%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(71.377% 42.123%, 64.555% 87.158%, 56.678% 50.685%);
            clip-path: polygon(71.377% 42.123%, 64.555% 87.158%, 56.678% 50.685%);
    background-color: #c8c6d3;
  }
}

@-webkit-keyframes transform12 {
  from {
    -webkit-clip-path: polygon(63.243% 35.243%, 59.589% 59.589%, 89.405% 51.784%);
            clip-path: polygon(63.243% 35.243%, 59.589% 59.589%, 89.405% 51.784%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(56.66% 83.904%, 48.288% 87.329%, 56.66% 87.329%);
            clip-path: polygon(56.66% 83.904%, 48.288% 87.329%, 56.66% 87.329%);
    background-color: #eee7e7;
  }
}

@keyframes transform12 {
  from {
    -webkit-clip-path: polygon(63.243% 35.243%, 59.589% 59.589%, 89.405% 51.784%);
            clip-path: polygon(63.243% 35.243%, 59.589% 59.589%, 89.405% 51.784%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(56.66% 83.904%, 48.288% 87.329%, 56.66% 87.329%);
            clip-path: polygon(56.66% 83.904%, 48.288% 87.329%, 56.66% 87.329%);
    background-color: #eee7e7;
  }
}

@-webkit-keyframes transform13 {
  from {
    -webkit-clip-path: polygon(59.589% 59.589%, 89.405% 51.784%, 62.842% 83.39%);
            clip-path: polygon(59.589% 59.589%, 89.405% 51.784%, 62.842% 83.39%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(56.66% 83.904%, 64.555% 87.158%, 56.66% 87.329%);
            clip-path: polygon(56.66% 83.904%, 64.555% 87.158%, 56.66% 87.329%);
    background-color: #eee7e7;
  }
}

@keyframes transform13 {
  from {
    -webkit-clip-path: polygon(59.589% 59.589%, 89.405% 51.784%, 62.842% 83.39%);
            clip-path: polygon(59.589% 59.589%, 89.405% 51.784%, 62.842% 83.39%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(56.66% 83.904%, 64.555% 87.158%, 56.66% 87.329%);
            clip-path: polygon(56.66% 83.904%, 64.555% 87.158%, 56.66% 87.329%);
    background-color: #eee7e7;
  }
}

@-webkit-keyframes transform14 {
  from {
    -webkit-clip-path: polygon(89.405% 51.892%, 73% 71%, 83.048% 82.919%);
            clip-path: polygon(89.405% 51.892%, 73% 71%, 83.048% 82.919%);
    background-color: #a93f32;
  }
  to {
    -webkit-clip-path: polygon(42.466% 42.5%, 29.11% 63.527%, 45.205% 62.842%);
            clip-path: polygon(42.466% 42.5%, 29.11% 63.527%, 45.205% 62.842%);
    background-color: #b7b6be;
  }
}

@keyframes transform14 {
  from {
    -webkit-clip-path: polygon(89.405% 51.892%, 73% 71%, 83.048% 82.919%);
            clip-path: polygon(89.405% 51.892%, 73% 71%, 83.048% 82.919%);
    background-color: #a93f32;
  }
  to {
    -webkit-clip-path: polygon(42.466% 42.5%, 29.11% 63.527%, 45.205% 62.842%);
            clip-path: polygon(42.466% 42.5%, 29.11% 63.527%, 45.205% 62.842%);
    background-color: #b7b6be;
  }
}

@-webkit-keyframes transform15 {
  from {
    -webkit-clip-path: polygon(63.243% 35.243%, 79.795% 45.89%, 88.185% 40.753%);
            clip-path: polygon(63.243% 35.243%, 79.795% 45.89%, 88.185% 40.753%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(29.11% 63.527%, 45.205% 62.842%, 29.11% 78.082%);
            clip-path: polygon(29.11% 63.527%, 45.205% 62.842%, 29.11% 78.082%);
    background-color: #b7b6be;
  }
}

@keyframes transform15 {
  from {
    -webkit-clip-path: polygon(63.243% 35.243%, 79.795% 45.89%, 88.185% 40.753%);
            clip-path: polygon(63.243% 35.243%, 79.795% 45.89%, 88.185% 40.753%);
    background-color: #e64d2d;
  }
  to {
    -webkit-clip-path: polygon(29.11% 63.527%, 45.205% 62.842%, 29.11% 78.082%);
            clip-path: polygon(29.11% 63.527%, 45.205% 62.842%, 29.11% 78.082%);
    background-color: #b7b6be;
  }
}

@-webkit-keyframes transform16 {
  from {
    -webkit-clip-path: polygon(86.815% 29.281%, 69.404% 36.644%, 88.185% 40.753%);
            clip-path: polygon(86.815% 29.281%, 69.404% 36.644%, 88.185% 40.753%);
    background-color: #d76644;
  }
  to {
    -webkit-clip-path: polygon(29.11% 78.082%, 45.205% 62.842%, 41.438% 87.329%);
            clip-path: polygon(29.11% 78.082%, 45.205% 62.842%, 41.438% 87.329%);
    background-color: #b7b6be;
  }
}

@keyframes transform16 {
  from {
    -webkit-clip-path: polygon(86.815% 29.281%, 69.404% 36.644%, 88.185% 40.753%);
            clip-path: polygon(86.815% 29.281%, 69.404% 36.644%, 88.185% 40.753%);
    background-color: #d76644;
  }
  to {
    -webkit-clip-path: polygon(29.11% 78.082%, 45.205% 62.842%, 41.438% 87.329%);
            clip-path: polygon(29.11% 78.082%, 45.205% 62.842%, 41.438% 87.329%);
    background-color: #b7b6be;
  }
}

@-webkit-keyframes transform17 {
  from {
    -webkit-clip-path: polygon(86.815% 29.281%, 72.801% 35.25%, 75.342% 12.158%);
            clip-path: polygon(86.815% 29.281%, 72.801% 35.25%, 75.342% 12.158%);
    background-color: #d76644;
  }
  to {
    -webkit-clip-path: polygon(41.438% 87.329%, 45.205% 62.842%, 48.288% 87.329%);
            clip-path: polygon(41.438% 87.329%, 45.205% 62.842%, 48.288% 87.329%);
    background-color: #b7b6be;
  }
}

@keyframes transform17 {
  from {
    -webkit-clip-path: polygon(86.815% 29.281%, 72.801% 35.25%, 75.342% 12.158%);
            clip-path: polygon(86.815% 29.281%, 72.801% 35.25%, 75.342% 12.158%);
    background-color: #d76644;
  }
  to {
    -webkit-clip-path: polygon(41.438% 87.329%, 45.205% 62.842%, 48.288% 87.329%);
            clip-path: polygon(41.438% 87.329%, 45.205% 62.842%, 48.288% 87.329%);
    background-color: #b7b6be;
  }
}

@-webkit-keyframes transform18 {
  from {
    -webkit-clip-path: polygon(67.096% 16.438%, 75.342% 12.158%, 74.2% 22.603%);
            clip-path: polygon(67.096% 16.438%, 75.342% 12.158%, 74.2% 22.603%);
    background-color: #a93f32;
  }
  to {
    -webkit-clip-path: polygon(29.11% 78.082%, 16.267% 86.473%, 40.897% 86.644%);
            clip-path: polygon(29.11% 78.082%, 16.267% 86.473%, 40.897% 86.644%);
    background-color: #787681;
  }
}

@keyframes transform18 {
  from {
    -webkit-clip-path: polygon(67.096% 16.438%, 75.342% 12.158%, 74.2% 22.603%);
            clip-path: polygon(67.096% 16.438%, 75.342% 12.158%, 74.2% 22.603%);
    background-color: #a93f32;
  }
  to {
    -webkit-clip-path: polygon(29.11% 78.082%, 16.267% 86.473%, 40.897% 86.644%);
            clip-path: polygon(29.11% 78.082%, 16.267% 86.473%, 40.897% 86.644%);
    background-color: #787681;
  }
}

@-webkit-keyframes animateShadow {
  from {
    width: 30vw;
  }
  to {
    width: 25vw;
  }
}

@keyframes animateShadow {
  from {
    width: 30vw;
  }
  to {
    width: 25vw;
  }
}
/*# sourceMappingURL=nav.css.map */